@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

body {
  font-family: "Poppins", sans-serif; }
