@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

// Primary Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);

// Neutral colors

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// Css Reset

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

// Typography

body {
  font-family: "Poppins", sans-serif;
}
